@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .outer-padding {
    @apply lg:px-32 md:px-16 px-8;
  }
  .container > {
    .opti-content-area,
    .opti-content-area .opti-content-area-item {
      display: contents;
    }
  }
}

@layer components {
  // Buttons
  .btn {
    @apply inline-block relative no-underline whitespace-nowrap;
  }

  .btn-before {
    @apply before:content-[""] before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-azure before:rounded-[40px] before:transition-all before:duration-300 before:ease-in-out;
  }

  .btn-before--hover {
    @apply hover:before:translate-x-[0px] hover:before:translate-y-[8px];
  }

  .btn--primary,
  .btn--secondary {
    @apply btn;
  }

  .btn--default {
    @apply btn-before btn-before--hover active:translate-y-[4px] active:before:translate-y-0 transition-transform duration-300 ease-in-out;
  }

  .btn--cta {
    @apply btn-before before:translate-x-[8px] before:translate-y-[8px] hover:before:translate-x-[0px] hover:before:translate-y-[0px];
  }

  .btn--cta .btn__content {
    @apply transition-all duration-300 ease-in-out hover:translate-y-[-8px] active:translate-y-0;
  }

  .btn__content {
    @apply font-semibold px-[16px] py-[10px] rounded-[40px] border-vulcan border-2 relative;
  }

  .btn--primary .btn__content {
    @apply text-white bg-vulcan dark:text-vulcan dark:bg-ghost-white dark:border-ghost-white z-10;
  }

  .btn--secondary .btn__content {
    @apply text-vulcan bg-white;
  }

  .btn--light {
    @apply before:bg-white;
  }

  .btn--light .btn__content {
    @apply text-white z-10 border-white;

    background-color: var(--bg-inherit-button);
  }

  .btn--dark {
    @apply before:bg-vulcan;
  }

  .btn--dark .btn__content {
    @apply text-vulcan z-10 border-vulcan;

    background-color: var(--bg-inherit-button);
  }
  // End Buttons

  // Typography Styles
  .eyebrow {
    @apply uppercase text-xl tracking-[1px];
  }

  // Share BG vars down to buttons.
  .bg-ghost-white {
    --bg-inherit-button: var(--ghost-white);
  }
  .bg-vulcan {
    --bg-inherit-button: var(--vulcan);
  }
  .bg-azure {
    --bg-inherit-button: var(--azure);
  }
  .bg-tangy {
    --bg-inherit-button: var(--tangy);
  }
  .bg-paleruby {
    --bg-inherit-button: var(--paleruby);
  }
  .bg-verdansk {
    --bg-inherit-button: var(--verdansk);
  }

  // Link arrow style
  .link--arrow {
    @apply relative inline-flex items-center after:translate-x-[6px] after:inline-block after:w-[6px] after:h-[24px] no-underline hover:underline hover:after:translate-x-[16px] after:transition-all after:duration-300 after:ease-in-out;

    &:after {
      content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="7" height="13" viewBox="0 0 7 13" fill="none"><path d="M1 12.3711C1 9.05664 3.67767 6.37109 6.97866 6.37109H7M7 6.36619C3.68555 6.36619 1 3.69075 1 0.392454V0.371094" stroke="%2310141D" stroke-width="1.5"/></svg>') !important;
    }
  }
}

.optly-contentLink {
  display: none;
}

.searchbox {
  width: 302px;
  /* border-radius: 5px; */
}
/* ---------------------- Coveo ----------------------*/
.search-results__container {
  --search-spacing: 20px;
  margin-top: var(--search-spacing);
  --atomic-border-radius-lg: 16px;
  --atomic-border-radius: 8px;
  --atomic-font-family: Gibson;
  --atomic-layout-spacing-x: 3rem;
  --atomic-layout-spacing-y: 2rem;
  --atomic-neutral: var(--primitive-color-gray-2); // facet border color
  --atomic-neutral-dark: rgb(98, 105, 113); // excerpt
  --atomic-text-2xl: 20px;
  --atomic-text-xl: 18px;
  --atomic-font-normal: 300;

  atomic-quickview-modal {
    --atomic-neutral-light: var(--primitive-color-gray-2);
    --atomic-background: var(--primitive-color-white-pureWhite);
    --atomic-on-background: var(--primitive-color-solid-blue-5);
  }

  atomic-query-summary {
    --atomic-font-bold: 500;
  }

  atomic-breadbox {
    --atomic-layout-spacing-y: 1rem;
    font-size: 12px;
    border-bottom: 0.5px solid var(--primitive-color-gray-2);
    padding-bottom: 1rem;
    &::part(breadcrumb-button) {
      border-radius: 32px;
    }
    &::part(clear) {
      color: var(--primitive-color-governorBay-5);
    }
  }

  atomic-facet,
  atomic-query-summary,
  atomic-sort-dropdown {
    --atomic-on-background: #000;
  }

  atomic-sort-dropdown::part(select) {
    --atomic-border-radius: 56px;
    background-color: var(--primitive-color-white-pureWhite);
  }

  atomic-facet {
    --atomic-font-family: Gibson;
    &::part(search-input) {
      border-radius: 24px;
    }
    &::part(label-button) {
      font-weight: 500;
    }
    &::part(value-checkbox) {
      --atomic-border-radius-lg: 0;
      --atomic-border-radius: 0;
      background-color: var(--primitive-color-white-pureWhite);
      border-radius: 4px;
      //border: 1px solid var(--primitive-color-gray-2);
    }
    &::part(value-checkbox-label) {
      color: var(--primitive-color-gray-6);
    }
    &::part(value-checkbox-icon) {
      stroke: #000;
      width: 70%;
    }
  }

  atomic-result-text {
    --atomic-on-background: #3a54dc; // result link color (gradient alternative: #DBDDF9)
    --atomic-visited: #3a54dc; // result link color (gradient alternative: #DBDDF9)
  }

  atomic-folded-result-list::part(outline),
  atomic-result-list::part(outline) {
    align-self: stretch;
    background: var(--primitive-color-white-pureWhite, #fff);
    border-radius: 24px;
    border: 1px solid var(--primitive-color-gray-2, #dddfe3);
    box-shadow: 0px 4px 8px 0px rgba(4, 8, 31, 0.08);
    margin-bottom: 24px;
    padding: 24px;

    &::before {
      display: none;
    }

    &:hover {
      --atomic-on-background: var(--primitive-color-governorBay-5, #3a54dc);
      --atomic-primary: var(--atomic-on-background); // quickview icon color
      --atomic-visited: var(--primitive-color-governorBay-5, #3a54dc);
      --badge-label-font-color: var(--primitive-color-grape-6, #592676);
      --badge-label-background: var(--primitive-color-white-pureWhite, #fff);
      background: var(--primitive-color-gray-0);
      box-shadow: 0px 8px 16px 0px rgba(7, 12, 41, 0.06);
    }
  }

  atomic-generated-answer {
    &::part(container) {
      border-radius: 16px;
      border: 1.5px solid var(--primitive-color-gray-2);
      background: var(--primitive-color-white-pureWhite);
      padding: 24px;
    }

    &::part(citations-label) {
      color: var(--primitive-color-gray-6);
    }

    &::part(citation) {
      display: flex;
      padding: 4px 12px;
      align-items: center;
      color: var(--primitive-color-solid-gray-5);
      font-family: Gibson;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 21px;
      letter-spacing: 0.042px;
    }

    &::part(citation-index) {
      display: none;
    }

    &::part(citation-popover) {
      z-index: 5;
      background-color: var(--primitive-color-white-pureWhite);
      font-family: Gibson;
      font-size: 14px;
    }

    &::part(header-label) {
      border-radius: 16px;
      border: 1.5px solid #840eff;
      font-family: var(--font-barlow);
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: 0.042px;
      text-transform: uppercase;
      background: var(--Action-Gradient);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &::part(generated-text) {
      /**
        * Atomic Variables Key:

        // colors
        * --atomic-neutral-light
        * --atomic-neutral
        * --atomic-neutral-dim
        * --atomic-on-background

        // container styling
        * --atomic-border-radius
        * --atomic-border-radius-md

        // font size
        * --atomic-text-2xl
        * --atomic-text-xl
        * --atomic-text-lg
        * --atomic-text-base
        * --atomic-inline-code
        * --atomic-text-sm

        // font style
        * --atomic-font-bold
      */
      --atomic-font-bold: 500;
      color: var(--primitive-color-gray-6);
    }

    &::part(answer-heading-1) {
      color: var(--primitive-color-governorBay-5);
    }

    &::part(answer-heading-2),
    &::part(answer-heading-3) {
      color: var(--primitive-color-governorBay-6);
    }

    &::part(answer-paragraph) {
      font-style: italic;
    }

    &::part(rephrase-button) {
      --atomic-primary: var(--primitive-color-solid-blue-5);
    }

    &::part(answer-show-button) {
      color: #8a36ff;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  atomic-generated-answer-feedback-modal {
    --atomic-border-radius-md: 8px; // textbox border radius
    --atomic-font-bold: 900; // modal section headers
    --atomic-primary-background: var(--primitive-color-white-pureWhite);
    --atomic-neutral-dark: var(
      --primitive-color-solid-gray-5
    ); // input text color

    &::part(container) {
      --atomic-background: var(--primitive-color-white-pureWhite);
    }

    &::part(form) {
      --atomic-border-radius: 100px; // input ctas
      --atomic-inline-code: red; // error text color
      --atomic-primary-light: var(
        --primitive-color-governorBay-5
      ); // active cta border-color; font color (darker blue); submit-button color
      --atomic-primary: var(
        --primitive-color-governorBay-5
      ); // active / hover button CTA

      // selected CTA
      .active {
        border-color: var(--primitive-color-governorBay-5);
        color: var(--atomic-primary-light);
        background-color: var(--atomic-primary-background);
      }
    }

    &::part(footer-wrapper) {
      --atomic-neutral-light: #f1f2f4; // footer background
    }

    &::part(cancel-button) {
      border: 1.5px solid var(--primitive-color-governorBay-3);
      box-shadow: 0 4px 16px 0 rgba(199, 178, 255, 0.16);
      color: var(--primitive-color-governorBay-5);
      border-radius: 100px;
    }

    &::part(submit-button) {
      border-radius: 100px;
      border: 1.5px solid rgba(126, 137, 234, 0.24);
      background: var(
        --Action-Gradient,
        linear-gradient(90deg, #840eff 0, #3a54dc 99.06%)
      );
      box-shadow: 0 8px 16px 0 rgba(7, 12, 41, 0.06);
      color: var(--primitive-color-white-pureWhite);
    }

    input {
      border: var(--primitive-color-governorBay-5);
      color: var(--primitive-color-governorBay-5);

      &.btn-outline-neutral {
        border-radius: var(--atomic-border-radius);
        border-color: var(--primitive-color-governorBay-5);
        color: var(--atomic-on-background);
      }
    }
  }

  atomic-search-layout atomic-layout-section[section="pagination"] {
    justify-content: center;

    atomic-pager {
      &::part(page-button) {
        cursor: pointer;
        border-radius: 32px;
        border-radius: 32px;

        border: 1.5px solid var(--primitive-color-governorBay-3, #b4b9f3);
        background: var(--primitive-color-gray-1, #f1f2f4);
        box-shadow: 0px 4px 16px 0px rgba(199, 178, 255, 0.16);

        display: flex;
        width: 40px;
        height: 40px;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;

        color: var(--primitive-color-gray-6, #3b3e46);
        /* 16 Book */
        font-family: Gibson;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
      }
      &::part(previous-button),
      &::part(next-button) {
        border-color: transparent;
      }

      &::part(previous-button),
      &::part(next-button),
      &::part(page-button) {
        &:hover {
          color: var(--primitive-color-governorBay-5, #3a54dc);
          font-weight: 500;
        }
      }
      &::part(active-page-button) {
        border: 1.5px solid rgba(126, 137, 234, 0.24);
        background: var(
          --Action-Gradient,
          linear-gradient(90deg, #840eff 0%, #3a54dc 99.06%)
        );
        box-shadow: 0px 8px 16px 0px rgba(7, 12, 41, 0.06);

        color: var(--primitive-color-white-pureWhite, #fff);
        &:hover {
          color: var(--primitive-color-white-pureWhite, #fff);
          font-weight: 300;
        }
      }
    }
  }
}
atomic-result-section-badges {
  --row-height: 100% !important;
}
atomic-search-box {
  --border-radius: 16px;
  --atomic-background: #fff;

  --barca-purple: #7e89ea52;
  --search-box-border-color: var(--barca-purple);
  --search-box-text-color: #5500aa;
  --atomic-neutral-dark: var(--primitive-color-gray-7);
  --atomic-on-primary: var(--search-box-text-color);
  --atomic-font-family: Gibson;
  height: 48px;
  font-size: 14px;
  font-weight: 200;

  &,
  &::part(wrapper) {
    border-radius: 16px;
    flex-direction: row-reverse;
  }

  &::part(recent-query-icon),
  &::part(query-suggestion-icon) {
    color: var(--primitive-color-gray-4, #959cab);
  }

  &::part(input) {
    padding-left: 0;
    color: var(--generic-color-text-brandOnMuted, #5f00bc);

    &::placeholder {
      color: var(--generic-color-text-brandOnMuted, #5f00bc);
    }
  }

  &::part(suggestions-wrapper) {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-top: 0;
    color: var(--primitive-color-gray-7, #26292f);
    padding-top: 12px;
    margin-top: -12px;
    margin-left: -1px;
    margin-right: -1px;
    width: calc(100% + 2px);
  }

  &::part(suggestions) {
    border-top: 1px solid;
  }

  &::part(clear-button) {
    background-color: white;
    border: none;
    color: var(--search-box-text-color);
  }
  &::part(submit-button) {
    margin-right: 0;
    width: 40px;
    padding-left: 5px;
  }
  &::part(submit-icon) {
    bottom: 3px;
  }
}
